.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px 0;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #102510;
}

.input {
    height: 40px;
    padding-left: 35px;
    font-size: 20px;
    border-radius: 4px;
    outline: none;
}

.input:focus {
    outline: none;
}

.button {
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
}

.label {
    position: relative;
    transform: translateY(30px);
}
.label__text {
    position: absolute;
    top: -10px;
    transform: translateY(-100%);
}
